.banner {
  background-image: url('../../../assets/images/minsaitfotoia.png'); 
  background-size: cover;
  background-position: center;
  height: 100px;
  position: relative;
  margin: 1.6%;
}

.banner-overlay {
  background: rgba(0, 0, 0, 0.7); 
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 40px;
}

.banner-overlay h2 {
  color: white;
  font-size: 20px;
  font-weight: 500;
}
