
#flex-container {
  display: flex;
  justify-content: space-between; /* Separa los elementos al máximo dentro del contenedor */
  padding: 20px 0; /* Espacio vertical si lo necesitas */
}

app-anuncios-component {
  margin-right: 40px; /* Espacio a la derecha del componente de anuncios */
}

app-accesos-componente {
  margin-left: 40px; /* Espacio a la izquierda del componente de accesos */
}
